{% extends "base.html" %}
{% load i18n %}

<title>{% block title %}Password Reset{% endblock %}</title>

{% block content %}

<p>{% trans "Password reset successfully" %}</p>

<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>

{% endblock %}
