{% extends "base.html" %}
{% load i18n %}

<title>{% block title %}Password Reset Email{% endblock %}</title>

{% block content %}
<p>{% trans "Email with password reset instructions has been sent." %}</p>
{% endblock %}
