{% extends "base.html" %}
{% load i18n %}

<title>{% block title %}Registration Email{% endblock %}</title>

{% block content %}
<p>{% trans "You are now registered. Activation email sent." %}</p>
{% endblock %}