{% extends "base.html" %}
{% load i18n %}

<title>{% block title %}Register{% endblock %}</title>

{% block content %}
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
