{% extends "base.html" %}
{% load i18n %}

<title>{% block title %}Registration Closed{% endblock %}</title>

{% block content %}
	<p>{% trans "Registration is currently closed." %}</p>
{% endblock %}
