{% extends "base.html" %}


{% load i18n %}

<title>{% block title %}Payment | Paypal{% endblock %}</title>

{% block content %}
<h3>{{ item_name }}</h3>
<!-- writes out the form tag automatically -->
{{ form.render }}

{% endblock %}
