{% extends "base.html" %}


{% load i18n %}

<title>{% block title %}Dashboard{% endblock %}</title>

{% block content %}
Dashboard page

<form method="post">{% csrf_token %}
{{ form }}
<button type="submit">Refer</button>

<a href="{% url 'create_job' %}">Post job</a>
{% if my_jobs %}
    <ul>
    {% for job in my_jobs %}
        <li><a href={% url 'job_details' job.id %}>{{ job }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no jobs posted.</p>
{% endif %}
</form>
{% endblock %}
