{% extends 'base.html' %}

{% load i18n %}

<title>{% block title %}Create Job{% endblock %}</title>

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Job" />
    </form>

{% endblock %}