{% extends 'base.html' %}

{% load i18n %}

<title>{% block title %}Delete Job{% endblock %}</title>

{% block content %}

    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm" />
    </form>

{% endblock %}