{% extends 'base.html' %}

{% load i18n %}

<title>{% block title %}Edit Job{% endblock %}</title>

{% block content %}

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update job" />
    </form>

{% endblock %}