{% extends 'base.html' %}
{% load filetransfers %}

{% load i18n %}

<title>{% block title %}Job Details{% endblock %}</title>

{% block content %}

    <a href="{% url 'update_job' object.id %}">Edit job</a> | <a href="{% url 'delete_job' object.id %}">Delete Job</a>


    <h4>{{ object.title }}</h4>
    <p>{{ object.description }}</p>
    <p>Due date: {{ object.deadline }}</p>
    <p>Status: {{ object.status }}</p>
    <p>Price per page: {{ object.price_per_page }}</p>
    <p>Number of pages: {{ object.number_of_pages }}</p>
    <p>Attachment:
        <a href="{% url 'download' pk=object.id %}">Download</a>
    </p>
    <span><a href="{% url 'paypal_refund' object.id %}">Request Refund</a></span>



{% endblock %}